<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="slinfy.android.unitconverter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/c_icon"
        android:label="Unit Converter" >
        <activity android:name="slinfy.android.unitconverter.Splashtest" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="slinfy.android.unitconverter.WheelDemo" >
        </activity>
        <activity android:name=".CurrencyPreferences" />
        <activity android:name=".AboutSlinfy"></activity>
        <activity
            android:name="slinfy.android.unitconverter.SAngle"
            android:label="Angle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="kankan.wheel.WHEEL_SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="slinfy.android.unitconverter.SArea"
            android:label="Area" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="kankan.wheel.WHEEL_SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="slinfy.android.unitconverter.SCurrency"
            android:label="Currency" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="kankan.wheel.WHEEL_SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="slinfy.android.unitconverter.SLength"
            android:label="Length" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="kankan.wheel.WHEEL_SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="slinfy.android.unitconverter.SEnergy"
            android:label="Energy" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="kankan.wheel.WHEEL_SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="slinfy.android.unitconverter.SForce"
            android:label="Force" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="kankan.wheel.WHEEL_SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="slinfy.android.unitconverter.SInformation"
            android:label="Information" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="kankan.wheel.WHEEL_SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="slinfy.android.unitconverter.SMass"
            android:label="Mass" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="kankan.wheel.WHEEL_SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="slinfy.android.unitconverter.SPower"
            android:label="Power" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="kankan.wheel.WHEEL_SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SPressure"
            android:label="Pressure" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="kankan.wheel.WHEEL_SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SSpeed"
            android:label="Speed" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="kankan.wheel.WHEEL_SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="slinfy.android.unitconverter.STemperature"
            android:label="Temperature" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="kankan.wheel.WHEEL_SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="slinfy.android.unitconverter.STime"
            android:label="Time" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="kankan.wheel.WHEEL_SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="slinfy.android.unitconverter.SVolume"
            android:label="Volume" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="kankan.wheel.WHEEL_SAMPLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>